@import '../main.scss';

.add-test-form {
  width: 100%;
  @include colStaSta;

  &__title {
    @include flexStaCen;
    margin-bottom: $space_x3;

    &__icon {
      width: $space_x9;
      height: $space_x9;
      fill: $secondary_color;
    }
  }

  &__user-info {
    @include flexCenCen;
    text-align: left;
    margin-bottom: $space_x3;

    img {
      width: $space_x10;
      height: $space_x10;
      border-radius: $space_x5;
      margin-right: $space_x2;
    }
  }

  &__form {
    @include colStaSta;

    .input {
      width: 100%;
    }

    .input__label {
      margin-top: $space_x2;
      width: 100%;
    }

    .input__field {
      width: 100%;
    }

    &__container {
      width: 100%;

      .btn {
        align-self: flex-end;
        margin-top: $space_x3;
      }
    }
  }
}

.container__test {
  margin-top: $space_x3;
}

.colum__test {
  width: 50%;
}

@media screen and (max-width: 425px) {
  .add-test-form {
    width: 100%;
    @include colCenSta;

    &__form {
      @include colCenSta;

      &__container {
        .btn {
          width: 100%;
          align-self: center;
          margin-top: $space_x3;
        }
      }
    }
  }
}
