@import '../main.scss';

.add-users-form {
  @include card;
  width: 100%;
  min-height: 170px;
  padding: $space_x6;

  &__title {
    margin-bottom: $space_x3;
  }

  .btn,
  .btn--disabled {
    margin-top: $space_x3;
  }
}

@media screen and (max-width: 425px) {
  .add-users-form {
    padding: 5%;

    .btn,
    .btn--disabled {
      width: 100%;
      margin-top: $space_x3;
    }
  }
}
