@import '../main.scss';

.add-users-form {
  @include card;
  width: 100%;
  min-height: 170px;
  padding: $space_x6;

  &__title {
    margin-bottom: $space_x3;
  }

  .btn,
  .btn--disabled {
    margin-top: $space_x3;
  }
}
