@import '../main.scss';

.filter{
  margin-bottom: $space_x6;
}

.title{
  display: flex;
  margin-bottom: $space_x3;
}

.icon{
  width: 35px;
  height: 35px;
}

.filter__inputs{
  display: flex;
  align-items: flex-end;
}