@import '../main.scss';

.layout {
  @include colCenSta;

  &__container {
    @include flexCenSta;
    width: 100%;
    max-width: 1024px;
    padding: $space_x9 $space_x12;

    &__content {
      width: calc(100% - 205px);
    }
  }
}
