@import '../main.scss';

.navbar {
  @include colCenCen;
  @include card;
  width: 175px;
  margin-right: 39px;
  padding: $space_x3;

  &__user {
    @include colCenCen;
    margin: $space_x3 0;

    &__photo {
      width: 120px;
      height: 120px;
      padding: 0;
      margin-bottom: $space_x2;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: $shadow;

      &__img {
        width: 100%;
        height: 100%;
      }
    }

    &__info {
      @include colCenSta;
      width: 100%;
    }

    &__name {
      text-align: center;
      font-size: $topic_size;
    }

    &__type {
      text-transform: capitalize;
    }
  }

  &__options {
    align-self: flex-start;
    padding: 0;
    list-style-type: none;

    &__item {
      @include flexStaCen;
      margin-bottom: $space_x3;
      cursor: pointer;

      &__icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        fill: $secondary_color;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    @include flexBetCen;
    flex-direction: row;
    width: 100%;
    margin: 0;
    margin-bottom: $space_x6;

    &__user {
      @include flexStaCen;
      flex-direction: row;
      margin: 0;

      &__info {
        @include flexCenSta;
        width: 125px;
        margin-left: $space_x2;
      }

      &__photo {
        width: 75px;
        height: 75px;
        margin: 0;
      }

      &__name {
        text-align: start;
      }

      &__type {
        text-align: start;
        text-transform: capitalize;
      }
    }

    &__options {
      @include flexStaCen;
      flex-direction: row;
      height: 75px;

      &__item {
        margin: 0;
        margin-right: $space_x2;
      }
    }
  }
}
