@import '../main.scss';

body {
  background-color: #00224E;
  color: white;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  fill: white;
  stroke: white;
  width: 48px;
  height: 48px;
}
