// Buttons
.btn {
  @include btn;
  background-color: $secondary_color;

  &--positive {
    @include btn;
    background-color: $positive_color;
  }

  &--negative {
    @include btn;
    background-color: $negative_color;
  }

  &:hover,
  &--positive:hover,
  &--negative:hover {
    filter: saturate(150%);
  }

  &:active,
  &--positive:active,
  &--negative:active {
    transform: scale(0.95);
  }

  &:disabled {
    cursor: default;
    opacity: 50%;
  }
}

// Titles
.title {
  @include flexStaCen;
  margin-bottom: $space_x3;

  &__logo {
    width: $space_x9;
    height: $space_x9;
    fill: $secondary_color;
  }

  &__text {
    margin-left: $space_x2;
  }
}

// Inputs
.input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: $space;
  }

  &__field {
    height: $space_x6;
    min-width: 100px;
    padding: 0 $space_x3;
    outline-style: none;
    border: none;
    border-radius: $space_x2;
    box-shadow: $shadow;
    font-size: $text_size;
    background-color: $back-grey_color;
  }

  &__error {
    color: $negative_color;
  }
}

.lg {
  width: 100%;
}
