// Buttons
.btn {
  @include btn;
  background-color: $secondary_color;

  &--positive {
    @include btn;
    background-color: $positive_color;
  }

  &--negative {
    @include btn;
    background-color: $negative_color;
  }

  &:hover,
  &--positive:hover,
  &--negative:hover {
    filter: saturate(150%);
  }

  &:active,
  &--positive:active,
  &--negative:active {
    transform: scale(0.95);
  }
}

// Inputs
.input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: $space;
  }

  &__field {
    height: $space_x7;
    min-width: 100px;
    padding: 0 $space_x3;
    outline-style: none;
    border: none;
    border-radius: $space_x3;
    box-shadow: $shadow;
    font-size: $text_size;
    background-color: $back-grey_color;
  }

  &__error {
    color: $negative_color;
  }

  &:first-child,
  &--positive:first-child,
  &--negative:first-child {
    margin-left: 0;
  }

  &:last-child,
  &--positive:last-child,
  &--negative:last-child {
    margin-right: 0;
  }
}

.lg {
  width: 100%;
}
