@import url('https://fonts.googleapis.com/css2?family=Muli:wght@700&family=Source+Sans+Pro:wght@400;700&display=swap');

// Main Colors
$primary_color: #00224e;
$secondary_color: #005fdb;

//Background Colors
$back-blue_color: #f1f7fe;
$back-grey_color: #e4e6eb;

//Basic Colors
$black_color: #001736;
$white_color: #ffffff;

// Boolean Colors
$positive_color: #02c39a;
$negative_color: #ff453e;

// Fonts
$text_font: 'Source Sans Pro', sans-serif;
$title_font: 'Muli', sans-serif;

// Font Sizes
$title_size: 37px;
$subtitle_size: 32px;
$topic_size: 22px;
$text_size: 18px;
$small_size: 14px;

// Shadows
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

// Spaces
$space: 5px;
$space_x2: 10px;
$space_x3: 15px;
$space_x4: 20px;
$space_x5: 25px;
$space_x6: 30px;
$space_x7: 35px;
$space_x8: 40px;
$space_x9: 45px;
$space_x10: 50px;
